


.header{
  background-color: grey;
}

.container-fluid{
  background-color:grey ;
}

.card{
  background-color: #a5a2ba;
}
.card-body{
  background-color: #a5a2ba;
}
.main{
  display: flex;
  width:100vw;
  height: auto;
  background-color: rgb(126, 128, 141);
  justify-content: row;
}

.aside1{
  width: 25vw;
  height: 800px;
  background-color: rgb(159, 159, 170);
  align-items: left;
}

.weatherCont{
  width:60vw;
  height:800px;
  background-color: rgb(49, 49, 49);
}

.cardcontainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.currDayWeather{
  display: flex;
  align-items: center;
  justify-content: center;
}
#currDayWeather{
  display: flex;
}
.hide{
  display: hide;
}
#srcButtons{
  display: hide;
}